body {
  background-color: antiquewhite;
}
.title {
  margin: 100px 100px 0px 0px;
}
.title-text {
  text-align: center;
}
.title-item {
  margin: 30px 0px 0px 0px;
}
p {
  text-align: center;
  font-size: 30px;
}
